@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Dancing+Script:wght@400;500&family=Do+Hyeon&family=Jua&family=Knewave&family=M+PLUS+1:wght@300;400;700&family=Martel+Sans:wght@200;400;600;900&family=Nanum+Gothic&family=Nanum+Gothic+Coding:wght@400;700&family=Nanum+Pen+Script&family=Nothing+You+Could+Do&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Oxygen:wght@300&family=Pacifico&family=Sunflower:wght@300;500&display=swap');
body{
   overflow-x:hidden; 
   width: 1024px;
   margin-left: 100px;
}


/* 숫자 + 수직선 */ 
#num01{
    position: absolute;
    left: -20px;
    top: -110px;
    display: inline-block;
    width : 20px;
    height: 40px;
    font-size: 35px;
}

.v-line{
    border-left: 2px solid #000;
    height:40%;
    left: 75px;
    top: 180px;
    position: absolute;
    font-family: 'Noto Sans KR','M PLUS 1', sans-serif;
    font-weight: bold;
}

.v-line-fo{
    width: 1px;

    position: absolute;
    left: -2px;
    top:430px;
   
    line-height: 19px;
    transform: rotate(270deg);
    font-weight: bold;
    font-family: 'Noto Sans KR','M PLUS 1', sans-serif;
    font-weight: bold;
}

#love{
    position: absolute;
    top: -60px;
    left: 40px;
    font-family: 'Noto Sans KR','M PLUS 1', sans-serif;
}

#love2{
    position: absolute;
    top: -60px;
    left: 470px;
    font-family: 'Noto Sans KR','M PLUS 1', sans-serif;
}

#love3{
    position: absolute;
    top: -60px;
    left: 870px;
    font-family: 'Noto Sans KR','M PLUS 1', sans-serif;
    width: 30px;
}


/* 본문 부분 */

article{
    background-color: rgba(230, 255, 89, 0.555);
    width:590px;
    height: 550px;
    margin-left: -90px;
    margin-top: -15px;
}

#h2Turckey {
    position: absolute;
    top: 70px;
    left: 40px;
    font: 900 45px 'Noto Sans KR','M PLUS 1', sans-serif;
}


table,p{
    font: 400  12px 'Noto Sans KR','M PLUS 1', sans-serif;
}

table{
    position: absolute;
    top: 200px;
    left: 40px;
    width: 500PX;
}


#line{
    width: 420px;
    position: absolute;
    top: 165px;
    left: 40px;
}

#note{
    font-family: 'Noto Sans KR','M PLUS 1', sans-serif;
    width: 400px;
    font-weight: 400px;
   
    display: inline-block;
    position: absolute;
    top: 260px;
    left: 40px;
}

.hashtag{
    display: inline-block;
    position: relative;
    top: 180px;
    left: 127px;
    font : bolder 'Noto Sans KR','M PLUS 1', sans-serif;
    text-decoration: underline;
}


/* --------------- 여기까지 왼쪽 ------------- */ 


#photo2{ /*div 오른쪽 배경  */
    position: absolute;
    top: -15px;
    left: 500px;

    width: 500px;
    height: 550px;

    display: inline;
}

._pics{ /*터키 이미지*/
    
    width: 430px;
    height: 410px;
    filter: grayscale(20%);
    
    z-index: 1;
}

#memo{
    margin-left: 10px;
    font-size  : 18px;
    font-family: 'Noto Sans KR','M PLUS 1', sans-serif;
    font-weight: 300;
}

#pick{
    position: absolute;
    top: 410px;
    left: 270px;
    width: 150px;
    height: 120px;
}
#phoeomark{
    position: absolute;
    top: 220px;
    left: 385px;
    width: 50px;
    height: 155px;
    opacity: 0.7;
}
#likes{
    position: absolute;
    top: 360px;
    left: 385px;
    width: 50px;
   
}


/*---- 워터마크 + 하트  + today's pick까지 */ 


 #photo8{ /*div - bkk */
    width: 600px;
    height: 500px;
    background-color: rgba(131, 149, 177, 0.329);
    display: inline;
    margin: -40px 0 0 450px;
    border: NONE;
} 


#video1{
    top: 400px;
    /* border: solid 2px black; */
    width: 400px;
    height: 380px;
    margin-top: 20px;
    margin-left: 40px;

}


.photo > hr{
    border: 0.1px solid black;
    width: 200px;
    position: absolute;
    left: 54px;
    top: 30px;
}


h3{ /* photo 글자 */
    margin: 30px 0 0 290px; 
    font-family: 'Nanum Gothic Coding';
}

#photoSpan{
    position: absolute;
    left: 406px;
    top: 395px;
    font: 19px 'Noto Sans KR';
}

#photoMemo{
    position: absolute;
    font-size: 25px;
    margin: -70px 0 0  50px;
    font-family: 'Dancing Script';
}

.turkey_pictures{
    float: left;
    display: block;
}


.photo{
    display: inline-block;
    position: absolute;
    top: 175px;
    left: 100px;
}


#leftmark{ /* 뒤로가기 화살표 */ 
    position: absolute;
    top: 160px;
    left: 26px;
    display: inline-block;
    width : 20px;
    height: 20px;
 
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    margin-top: 14px;
    z-index: 1;
}


#leftmark2{
    position: absolute;
    top: 160px;
    left: 21px;
    display: inline-block;
    width : 20px;
    height: 20px;
 
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    margin-top: 14px;
  
}

#leftmark:hover {
    background-color: rgba(7, 7, 7, 0.341);
    transition-duration: 1s;
}

